.header {
  background: $color-additional;
  &__wrapper {
    margin-left: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__phone {
    @include font($size: 1.4rem, $height: 1.6rem);
    margin-right: 20px;
    color: $color-primary;
    white-space: nowrap;
  }
}

@include media-laptop {
  .header {
    .navigation {
      @include font($size: 1.2rem, $height: 1.2rem);
    }
  }
}
@include media-tablet {
  .header {
    &__wrapper {
      margin: 0 10px;
      height: 60px;
    }

    &__phone {
      margin: 0 auto;
    }
    &__btn {
      display: none;
    }
  }
}
@include media-tablet-small {
  .header {
    &__wrapper {
      margin: 0 10px;
      height: 60px;
    }
    .navigation {
      display: none;
    }
  }
  .footer {
    display: none;
  }
}
@include media-mobile {
  .header {
    .logo {
      @include font($size: 1.2rem, $height: 1.2rem);
    }
  }
}
