.btn {
  @extend %font-prim;
  @include font($size: 1.4rem, $height: 1.4rem);
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: $color-primary;
  border: 1px solid $color-primary;
  color: $color-primary-text;
  box-shadow: 0px 5px 15px rgba($color-primary, 0.2);
  white-space: nowrap;
  &:hover {
    @extend %transition;
    background: rgba($color-primary, 0.8);
    box-shadow: 0px 5px 15px rgba($color-primary, 0.4);
  }
  &_glasses {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $color-primary-text;
    color: $color-primary-text;
    box-shadow: 0px 5px 15px rgba($color-primary-text, 0.2);
    &:hover {
      @extend %transition;
      background: rgba($color-primary-text, 0.2);
      box-shadow: 0px 5px 15px rgba($color-primary-text, 0.4);
    }
  }
}
