.list-works {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;

  &__item {
    padding-right: 30px;
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: $color-additional-text;
    opacity: 0.3;
    &_active {
      text-decoration: underline;
      opacity: 1;
      color: $color-primary;
    }
    &:hover {
      @extend %transition;
      opacity: 1;
      text-decoration: underline;
      color: $color-primary;
    }
  }
}
