.navigation {
  display: flex;
  justify-content: space-between;
  @extend %font-prim;

  @include font($size: 1.4rem, $height: 1.6rem);
  text-transform: uppercase;
  &__link {
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    color: $color-primary-text;
    &_active {
      color: $color-primary;
    }
    &:hover {
      @extend %transition;
      color: $color-primary;
    }
  }
}
