.promo {
  &__title {
    @extend %font-add;
    @include font($size: 2.7rem, $height: 3.7rem);
    color: $color-primary-text;
    text-transform: uppercase;
    &_colored {
      color: $color-primary;
    }
    &_line {
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        width: 60px;
        height: 3px;
        top: 49%;
        margin-left: 15px;
        border-radius: 10px;
        background-color: $color-primary;
      }
    }
  }
  &__subtitle {
    @extend %font-add;
    color: $color-primary-text;
    @include font($size: 1.5rem, $height: 2.1rem);
    text-transform: uppercase;
    &_colored {
      color: $color-primary;
    }
  }
  &__text {
    @extend %font-prim;
    color: $color-primary-text;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 400);
  }
  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    & button {
      @include font($size: 1.3rem, $height: 1.5rem);
      width: 210px;
      height: 50px;
      white-space: nowrap;
    }
  }
}

@include media-tablet-small {
  .promo {
    &__title {
      @include font($size: 2.2rem, $height: 2.6rem);

      &_line {
        display: none;
      }
    }
    &__text {
      @include font($size: 1.4rem, $height: 1.8rem);
    }
  }
}
