.request-call {
  display: flex;
  flex-direction: column;

  &__inline-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    & > :not(:last-child) {
      margin-right: 40px;
    }
  }
  &__checkbox {
    align-items: center;
    margin-top: 20px;
  }
  &__btn {
    padding: 10px 60px;
  }
  &__title {
    @extend %font-add;
    color: $color-primary-text;
    @include font($size: 2rem, $height: 2.8rem);
  }
}
