.scroll-down {
  padding: 30px 40px;
  background: $color-additional;
  display: flex;
  align-items: center;
  text-decoration: none;
  &__link {
    margin: 0;
    padding-right: 20px;
    @extend %font-add;
    @include font($size: 1.4rem, $height: 1.9rem);
    text-transform: uppercase;
    color: $color-primary-text;
  }
  &:hover {
    @extend %transition;
    background: $color-additional-light;
  }
}
