.section-complited-projects {
  background: $color-additional url(/assets/img/bg-city.png) bottom repeat-x;
  padding-bottom: 350px;

  &__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
  }

  &__promo {
    width: 40%;
    max-width: 420px;
  }
  &__table-wrapper {
    width: 40%;
  }

  &__info-slider {
    margin-top: 10px;
  }
  &__photo-slider {
    width: 60%;
  }

  &__images {
    max-height: 480px;
    max-width: 680px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__list-works {
    height: 50px;
  }
}
@include media-desltop {
  .section-complited-projects {
    &__wrapper {
      margin-left: 80px;
    }
  }
}

@include media-laptop {
  .section-complited-projects {
    &__wrapper {
      height: 600px;
      margin: 0 10px;
    }

    &__table-wrapper {
      margin-top: 10px;
    }
  }
}

@include media-tablet {
  .section-complited-projects {
    &__wrapper {
      height: 500px;
    }
    &__list-works {
      height: 40px;
      li {
        padding-right: 20px;
      }
    }
  }
}

@include media-tablet-small {
  .section-complited-projects {
    background: $color-additional;
    padding-bottom: 0px;
    &__wrapper {
      height: auto;
    }
    &__promo {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &__table {
      &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
      }
    }
    &__photo-slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    &__list-works {
      display: none;
    }
    &__info-slider {
      display: none;
    }
  }
}
