.section-design-stiles {
  margin-top: 100px;

  background-image: url("../assets/img/bg-reliz.png"),
    linear-gradient(rgba(0, 0, 0, 0.8));
  background-size: cover;
  background-blend-mode: multiply;
  &__wrapper {
    display: flex;
    height: 850px;
    justify-content: space-between;
    align-items: center;
  }
  &__promo {
    margin-left: 10px;
  }
  &__title {
    max-width: 300px;
    @extend %font-add;
    color: $color-primary;
    @include font($size: 2.7rem, $height: 3.7rem);
    text-transform: uppercase;
  }
  &__list {
    padding-top: 20px;
  }
  &__item {
    padding-top: 10px;
    list-style-type: none;
    a {
      text-decoration: none;
      @include font($size: 2rem, $height: 3.4rem);
      color: $color-primary-text;
      &:hover {
        @extend %transition;
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
        padding-bottom: 4px;
      }
    }
    &_activ {
      a {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
        padding-bottom: 4px;
      }
    }
  }
  &__gallery {
    display: flex;
    & > :last-child {
      position: relative;
      top: -60px;
    }
  }
  &__img-wrapper {
    display: flex;
    flex-direction: column;
    img {
      padding: 15px;
      max-width: 350px;
    }
  }
  &__gallery-mobile {
    display: none;
  }
}

@include media-laptop {
  .section-design-stiles {
    &__wrapper {
      height: 600px;
      justify-content: space-evenly;
    }
    &__title {
      @include font($size: 2rem, $height: 2.6rem);
    }
    &__item {
      padding-top: 10px;
      a {
        @include font($size: 1.6rem, $height: 2rem);
      }
    }
    &__gallery {
      & > :last-child {
        top: -40px;
      }
    }
    &__img-wrapper {
      img {
        padding: 10px;
        max-width: 250px;
      }
    }
  }
}
@include media-tablet-small {
  .section-design-stiles {
    background-image: linear-gradient($color-additional);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 200px;
    &__wrapper {
      height: auto;
      flex-direction: column;
    }
    &__title {
      text-align: center;
    }
    &__list {
      display: none;
    }
    &__gallery {
      display: none;
    }
    &__gallery-mobile {
      display: flex;
      margin: 20px;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
