.section-design-project {
  padding-top: 80px;
  background-image: linear-gradient($color-additional);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 600px;
  &__cards-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    & > * {
      margin: 0 10px;
    }
  }
}

@include media-laptop {
  .section-design-project {
    background-position: 0 500px;
    &__cards-wrapper {
      & > * {
        margin: 0 10px;
      }
    }
  }
}

@include media-tablet-small {
  .section-design-project {
    padding-top: 30px;
    background: $color-additional;
    &__wrapper {
      .intro-for-sections {
        &__title {
          color: $color-primary-text;
        }
        &__text {
          color: $color-additional-text;
        }
      }
    }
    &__cards-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      & > * {
        margin: 0px 10px 40px 10px;
      }
      .card-promo {
        align-self: flex-start;
      }
      .card-promo__list {
        max-height: 190px;
        overflow: hidden;
      }
    }
  }
}
