$gradient-circle: linear-gradient(
  to bottom,
  $color-primary 0%,
  $color-primary 10%,
  transparent 10%,
  transparent 17%,
  $color-primary 17%,
  $color-primary 26%,
  transparent 26%,
  transparent 35%,
  $color-primary 35%,
  $color-primary 51%,
  transparent 51%,
  transparent 61%,
  $color-primary 61%,
  $color-primary 76%,
  transparent 76%,
  transparent 85%,
  $color-primary 85%,
  $color-primary 100%
);

.section-measurement {
  margin-top: 150px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__advantages {
    width: 800px;
    height: 650px;
    position: relative;
    background: url("../assets/img/bg-request-section.png") -80px -50px
      no-repeat;
  }
  &__circle {
    &-wrapper {
      position: absolute;
      left: -250px;

      height: 650px;
      width: 650px;
      border-radius: 50%;

      -webkit-mask-image: radial-gradient(
        circle at center,
        transparent 69.9%,
        $color-primary 0%
      );
      mask-image: radial-gradient(
        circle at center,
        transparent 69.9%,
        $color-primary 0%
      );
    }
    height: 650px;
    width: 650px;
    border-radius: 50%;

    background: linear-gradient(to left, $color-primary, transparent 70%);
    -webkit-mask-image: $gradient-circle;
    mask-image: $gradient-circle;
  }
  &__advantages-list {
    list-style-type: none;
  }
  &__advantages-item {
    @extend %font-prim;
    color: $color-additional-light;
    @include font($size: 1.8rem, $height: 2.1rem);
    display: flex;
    align-items: center;

    position: relative;
    &::before {
      transform: translate(-50px);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primary-text;
      background-color: $color-primary;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &_1 {
      padding-top: 55px;
      padding-left: 280px;
      &::before {
        content: "1";
      }
    }
    &_2 {
      padding-top: 80px;
      padding-left: 360px;
      &::before {
        content: "2";
      }
    }
    &_3 {
      padding-top: 145px;
      padding-left: 385px;
      &::before {
        content: "3";
      }
    }
    &_4 {
      padding-top: 125px;
      padding-left: 320px;
      &::before {
        content: "4";
      }
    }
  }
  &__inputs-wrapper {
    & > :not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__request-call {
    margin-top: 50px;
    background: $color-additional;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    max-width: 400px;
    .request-call {
      &__title {
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
      }
      &__checkbox {
        align-items: flex-start;
      }
      &__btn {
        margin-top: 40px;
        align-self: flex-end;
      }
    }
  }
  &__advertising {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-btn {
      margin: 0 20px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background: $color-primary;
      border: 2px solid $color-primary;
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
    &-text {
      width: 80%;
      @extend %font-add;
      @include font($size: 2rem, $height: 2.5rem);
      color: $color-primary;
    }
  }
}

@include media-laptop {
  .section-measurement {
    &__advantages {
      width: auto;
    }
    &__circle {
      display: none;
    }
    &__advantages-item {
      padding-left: 40px;
      padding-top: 80px;
    }
  }
}
@include media-tablet-small {
  .section-measurement {
    display: none;
  }
}
