$color-primary: #e3b873;
$color-additional: #131313;
$color-additional-light: #363636;
$color-primary-text: #ffffff;
$color-additional-text: #959595;

$content-width: 1240px-1px;
$desltop-width: 1440px-1px;
$tablet-big-width: 1024px-1px;
$tablet-small-width: 768px-1px;
$mobile-big-width: 414px-1px;
$mobile-small-width: 320px-1px;
